
.page-header {
  text-align: center;
  font-size: 3.0em;
  line-height: 1.0;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--color-indigodye);
}
.page-content {
  min-height: 500px;
  margin: 0px 5% 0px 5%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.page-content-header {
  text-align: center;
  font-size: 2.0em;
  line-height: 1.0;
  margin: 8px 0px 8px 0px;
  text-align: center;
  color: var(--color-indigodye);
}
.scan-upload-form {
  height: 100%;
  background-image: url(../assets/gray-plate.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}