@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-richblack: #0D1821;
  --color-indigodye: #344966;
  --color-powderblue: #B4CDED;
  --color-babypowder: #F0F4EF;
  --color-sage: #BFCC94;

  color-scheme: light dark;
  color: var(--color-indigodye);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-babypowder);
}

#root {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}