:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-richblack: #0D1821;
  --color-indigodye: #344966;
  --color-powderblue: #B4CDED;
  --color-babypowder: #F0F4EF;
  --color-sage: #BFCC94;

  color-scheme: light dark;
  color: var(--color-indigodye);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-babypowder);
}

#root {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.page-header {
  font-size: 3.0em;
  line-height: 1.0;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--color-indigodye);
}
.section-header {
  font-size: 2.0em;
  line-height: 1.0;
  margin: 8px 0px 8px 0px;
  text-align: center;
  color: var(--color-indigodye);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-indigodye);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}